.crust {
  margin: 50px auto;
  width: 140px;
  height: 140px;
  background-color: peru;
  border-radius: 50%;
  position: relative;
}

.cheese {
  width: 120px;
  height: 120px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 7%;
}

/*****************
 P E P P E R O N I
 *****************/

.pepperoni {
  border-radius: 50%;
  position: absolute;
}

.pepperoni {
  width: 10px;
  height: 10px;
}

.pepperoni.one {
  top: 15%;
  left: -20%;
  -webkit-transform-origin: 25px 25px;
  -ms-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-animation: peponetofive 1.5s 2.0s linear forwards;
  animation: peponetofive 1.5s 2.0s linear forwards;
}

.pepperoni.two {
  top: -48%;
  left: 46%;
  -webkit-transform-origin: -25px 45px;
  -ms-transform-origin: -25px 45px;
  transform-origin: -25px 45px;
  -webkit-animation: peponetofive 1.5s 2.0s linear forwards;
  animation: peponetofive 1.5s 2.0s linear forwards;
}

.pepperoni.three {
  top: 107%;
  left: 28%;
  -webkit-transform-origin: 30px -35px;
  -ms-transform-origin: 30px -35px;
  transform-origin: 30px -35px;
  -webkit-animation: peponetofive 1.5s 2.0s linear forwards;
  animation: peponetofive 1.5s 2.0s linear forwards;
}

.pepperoni.four {
  top: 44%;
  left: 1%;
  -webkit-transform-origin: 25px 25px;
  -ms-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-animation: peponetofive 1.5s 2.0s linear forwards;
  animation: peponetofive 1.5s 2.0s linear forwards;
}

.pepperoni.five {
  top: 14%;
  left: 81%;
  -webkit-transform-origin: -25px 45px;
  -ms-transform-origin: -25px 45px;
  transform-origin: -25px 45px;
  -webkit-animation: peponetofive 1.5s 2.0s linear forwards;
  animation: peponetofive 1.5s 2.0s linear forwards;
}

.pepperoni.six {
  top: 105%;
  left: 25%;
  -webkit-transform-origin: 30px -35px;
  -ms-transform-origin: 30px -35px;
  transform-origin: 30px -35px;
  -webkit-animation: pepsix 1.5s 2.0s linear forwards;
  animation: pepsix 1.5s 2.0s linear forwards;
}

.pepperoni.seven {
  top: 13%;
  left: 28%;
  -webkit-transform-origin: 25px 25px;
  -ms-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-animation: pepseven 1.5s 2.0s linear forwards;
  animation: pepseven 1.5s 2.0s linear forwards;
}

.pepperoni.eight {
  top: 4%;
  left: 57%;
  -webkit-transform-origin: -25px 45px;
  -ms-transform-origin: -25px 45px;
  transform-origin: -25px 45px;
  -webkit-animation: pepeight 1.5s 2.0s linear forwards;
  animation: pepeight 1.5s 2.0s linear forwards;
}

.pepperoni.nine {
  top: 90%;
  left: 50%;
  -webkit-transform-origin: 30px -35px;
  -ms-transform-origin: 30px -35px;
  transform-origin: 30px -35px;
  -webkit-animation: pepnine 1.5s 2.0s linear forwards;
  animation: pepnine 1.5s 2.0s linear forwards;
}

.pepperoni.ten {
  top: 47%;
  left: 31%;
  -webkit-transform-origin: 25px 25px;
  -ms-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-animation: pepten 1.5s 2.0s linear forwards;
  animation: pepten 1.5s 2.0s linear forwards;
}

.pepperoni.eleven {
  top: -17%;
  left: 39%;
  -webkit-transform-origin: -25px 45px;
  -ms-transform-origin: -25px 45px;
  transform-origin: -25px 45px;
  -webkit-animation: pepeleven 1.5s 2.0s linear forwards;
  animation: pepeleven 1.5s 2.0s linear forwards;
}

/*****************
 M U S H R O O M S
 *****************/

.mushroom {
  position: relative;
  z-index: 5;
}

.cap,
.stalk {
  background-color: inherit;
}

.cap {
  position: absolute;
  height: 10px;
  width: 20px;
  border-radius: 20px 20px 0 0;
}

.stalk {
  position: absolute;
  height: 20px;
  width: 10px;
  top: 1px;
  left: 5px;
}

/*bottom left*/

.mushroom.one {
  top: -2%;
  left: 38%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-animation: shroomone 0.5s 1.0s linear forwards;
  animation: shroomone 0.5s 1.0s linear forwards;
}

/*bottom right*/

.mushroom.two {
  top: 23%;
  left: -56%;
  -webkit-transform: rotate(-115deg);
  -ms-transform: rotate(-115deg);
  transform: rotate(-115deg);
  -webkit-animation: shroomtwo 0.5s 1.0s linear forwards;
  animation: shroomtwo 0.5s 1.0s linear forwards;
}

/*top center*/

.mushroom.three {
  top: 90%;
  left: 39%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: shroomthree 0.5s 1.0s linear forwards;
  animation: shroomthree 0.5s 1.0s linear forwards;
}

/*bottom center*/

.mushroom.four {
  top: 45%;
  left: 38%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation: shroomfour 0.5s 1.0s linear forwards;
  animation: shroomfour 0.5s 1.0s linear forwards;
}

/*****************
	B A C O N  
 *****************/

.bacon,
.crease {
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
}

.bacon {
  background-color: #AE3D37;
  width: 8px;
  height: 20px;
  position: relative;
}

.crease {
  background-color: #DC8672;
  width: 3px;
  height: 20px;
  position: absolute;
  left: 32%;
}

/*bottom right*/

.bacon.one {
  top: 50%;
  left: 60%;
  -webkit-transform: rotate(-67deg);
  -ms-transform: rotate(-67deg);
  transform: rotate(-67deg);
}

/*left center*/

.bacon.two {
  top: 20%;
  left: 30%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/*top right*/

.bacon.three {
  top: 5%;
  left: 55%;
  -webkit-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  transform: rotate(110deg);
}

/***********************************************

	Animations!!!!

*************************************************/

@-webkit-keyframes peponetofive {
  0% {
    -webkit-transform: translateX(500px) scale(1) rotate(110deg);
    transform: translateX(500px) scale(1) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1) rotate(500deg);
    transform: translateX(0) scale(1) rotate(500deg);
  }
}

@keyframes peponetofive {
  0% {
    -webkit-transform: translateX(500px) scale(1) rotate(110deg);
    -ms-transform: translateX(500px) scale(1) rotate(110deg);
    transform: translateX(500px) scale(1) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1) rotate(500deg);
    -ms-transform: translateX(0) scale(1) rotate(500deg);
    transform: translateX(0) scale(1) rotate(500deg);
  }
}

@-webkit-keyframes pepsix {
  0% {
    -webkit-transform: translateX(500px) scale(1.5) rotate(110deg);
    transform: translateX(500px) scale(1.5) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.5) rotate(500deg);
    transform: translateX(0) scale(1.5) rotate(500deg);
  }
}

@keyframes pepsix {
  0% {
    -webkit-transform: translateX(500px) scale(1.5) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.5) rotate(110deg);
    transform: translateX(500px) scale(1.5) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.5) rotate(500deg);
    -ms-transform: translateX(0) scale(1.5) rotate(500deg);
    transform: translateX(0) scale(1.5) rotate(500deg);
  }
}

@-webkit-keyframes pepseven {
  0% {
    -webkit-transform: translateX(500px) scale(1.5) rotate(110deg);
    transform: translateX(500px) scale(1.5) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.5) rotate(500deg);
    transform: translateX(0) scale(1.5) rotate(500deg);
  }
}

@keyframes pepseven {
  0% {
    -webkit-transform: translateX(500px) scale(1.5) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.5) rotate(110deg);
    transform: translateX(500px) scale(1.5) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.5) rotate(500deg);
    -ms-transform: translateX(0) scale(1.5) rotate(500deg);
    transform: translateX(0) scale(1.5) rotate(500deg);
  }
}

@-webkit-keyframes pepeight {
  0% {
    -webkit-transform: translateX(500px) scale(1.3) rotate(110deg);
    transform: translateX(500px) scale(1.3) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.3) rotate(500deg);
    transform: translateX(0) scale(1.3) rotate(500deg);
  }
}

@keyframes pepeight {
  0% {
    -webkit-transform: translateX(500px) scale(1.3) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.3) rotate(110deg);
    transform: translateX(500px) scale(1.3) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.3) rotate(500deg);
    -ms-transform: translateX(0) scale(1.3) rotate(500deg);
    transform: translateX(0) scale(1.3) rotate(500deg);
  }
}

@-webkit-keyframes pepnine {
  0% {
    -webkit-transform: translateX(500px) scale(1.3) rotate(110deg);
    transform: translateX(500px) scale(1.3) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.3) rotate(500deg);
    transform: translateX(0) scale(1.3) rotate(500deg);
  }
}

@keyframes pepnine {
  0% {
    -webkit-transform: translateX(500px) scale(1.3) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.3) rotate(110deg);
    transform: translateX(500px) scale(1.3) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.3) rotate(500deg);
    -ms-transform: translateX(0) scale(1.3) rotate(500deg);
    transform: translateX(0) scale(1.3) rotate(500deg);
  }
}

@-webkit-keyframes pepten {
  0% {
    -webkit-transform: translateX(500px) scale(1.4) rotate(110deg);
    transform: translateX(500px) scale(1.4) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.4) rotate(500deg);
    transform: translateX(0) scale(1.4) rotate(500deg);
  }
}

@keyframes pepten {
  0% {
    -webkit-transform: translateX(500px) scale(1.4) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.4) rotate(110deg);
    transform: translateX(500px) scale(1.4) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.4) rotate(500deg);
    -ms-transform: translateX(0) scale(1.4) rotate(500deg);
    transform: translateX(0) scale(1.4) rotate(500deg);
  }
}

@-webkit-keyframes pepeleven {
  0% {
    -webkit-transform: translateX(500px) scale(1.6) rotate(110deg);
    transform: translateX(500px) scale(1.6) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.6) rotate(500deg);
    transform: translateX(0) scale(1.6) rotate(500deg);
  }
}

@keyframes pepeleven {
  0% {
    -webkit-transform: translateX(500px) scale(1.6) rotate(110deg);
    -ms-transform: translateX(500px) scale(1.6) rotate(110deg);
    transform: translateX(500px) scale(1.6) rotate(110deg);
    background-color: transparent;
  }

  100% {
    background-color: red;
    -webkit-transform: translateX(0) scale(1.6) rotate(500deg);
    -ms-transform: translateX(0) scale(1.6) rotate(500deg);
    transform: translateX(0) scale(1.6) rotate(500deg);
  }
}

@-webkit-keyframes shroomone {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-20deg) scale(1);
    transform: translateX(0) rotate(-20deg) scale(1);
    top: -2%;
    left: 38%;
    background-color: tan;
    display: block;
  }
}

@keyframes shroomone {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    -ms-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-20deg) scale(1);
    -ms-transform: translateX(0) rotate(-20deg) scale(1);
    transform: translateX(0) rotate(-20deg) scale(1);
    top: -2%;
    left: 38%;
    background-color: tan;
    display: block;
  }
}

@-webkit-keyframes shroomtwo {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-115deg) scale(1);
    transform: translateX(0) rotate(-115deg) scale(1);
    top: 23%;
    left: -56%;
    background-color: tan;
    display: block;
  }
}

@keyframes shroomtwo {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    -ms-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-115deg) scale(1);
    -ms-transform: translateX(0) rotate(-115deg) scale(1);
    transform: translateX(0) rotate(-115deg) scale(1);
    top: 23%;
    left: -56%;
    background-color: tan;
    display: block;
  }
}

@-webkit-keyframes shroomthree {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(90deg) scale(1);
    transform: translateX(0) rotate(90deg) scale(1);
    top: 90%;
    left: 39%;
    background-color: tan;
    display: block;
  }
}

@keyframes shroomthree {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    -ms-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(90deg) scale(1);
    -ms-transform: translateX(0) rotate(90deg) scale(1);
    transform: translateX(0) rotate(90deg) scale(1);
    top: 90%;
    left: 39%;
    background-color: tan;
    display: block;
  }
}

@-webkit-keyframes shroomfour {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-30deg) scale(1);
    transform: translateX(0) rotate(-30deg) scale(1);
    top: 45%;
    left: 38%;
    background-color: tan;
    display: block;
  }
}

@keyframes shroomfour {
  0% {
    -webkit-transform: translateX(500px) rotate(0deg) scale(1);
    -ms-transform: translateX(500px) rotate(0deg) scale(1);
    transform: translateX(500px) rotate(0deg) scale(1);
    background-color: transparent;
  }

  100% {
    -webkit-transform: translateX(0) rotate(-30deg) scale(1);
    -ms-transform: translateX(0) rotate(-30deg) scale(1);
    transform: translateX(0) rotate(-30deg) scale(1);
    top: 45%;
    left: 38%;
    background-color: tan;
    display: block;
  }
}